<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
<head>
<title>About</title>
</head>
<body>
    <h2 layout:fragment="tab-name">About Us</h2>
    <div layout:fragment="content" class="container">
        <ol>
            <li>Tran Quang Truong - Ho Chi Minh University of Technology - MT11TN</li>
            <li>Pham Van Lap - Ho Chi Minh University of Technology - MT11TN</li>
        </ol>
    </div>
</body>
</html>
