<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" ng-app="vnEMRRE">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>VNEMR Relation Extraction</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/jquery-ui.min.css" rel="stylesheet" />
<link href="../css/label.css" rel="stylesheet" />
<link href="../css/pnotify.custom.min.css" rel="stylesheet" />
<link href="../css/nu-context-menu.css" rel="stylesheet" />
<link href="../css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="../css/jquery-ui.custom.css" />
<link rel="stylesheet" href="../css/chosen.css" />
<link rel="stylesheet" href="../css/datepicker.css" />
<link rel="stylesheet" href="../css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="../css/daterangepicker.css" />
<link rel="stylesheet" href="../css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="../css/colorpicker.css" />

<!-- text fonts -->
<link rel="stylesheet" href="../css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="../css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
<script src="../js/midlib/ace-extra.js"></script>
</head>
<body>
    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">VNEMR Relation Extraction</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li><a href="/training"><i class="glyphicon glyphicon-book"></i> Training</a></li>
                    <li><a href="/vn-extractor"><i class="glyphicon glyphicon-cog"></i> Extractor</a></li>
                    <li><a href="about"><i class="glyphicon glyphicon-user"></i> About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <h2 layout:fragment="tab-name">TAB NAME</h2>
        <div layout:fragment="content">MAIN CONTENT</div>
    </div>

    <script type="text/javascript" src="../js/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/lib/angular.min.js"></script>
    <script type="text/javascript" src="../js/app/app.js"></script>
    <script type="text/javascript" src="../js/lib/pnotify.custom.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.nu-context-menu.min.js"></script>
    <script type="text/javascript" src="../js/app/label.js"></script>
    <script src="../js/midlib/jquery-ui.custom.js"></script>
<script src="../js/midlib/jquery.ui.touch-punch.js"></script>
<script src="../js/midlib/chosen.jquery.js"></script>
<script src="../js/midlib/fuelux/fuelux.spinner.js"></script>
<script src="../js/midlib/date-time/bootstrap-datepicker.js"></script>
<script src="../js/midlib/date-time/bootstrap-timepicker.js"></script>
<script src="../js/midlib/date-time/moment.js"></script>
<script src="../js/midlib/date-time/daterangepicker.js"></script>
<script src="../js/midlib/date-time/bootstrap-datetimepicker.js"></script>
<script src="../js/midlib/bootstrap-colorpicker.js"></script>
<script src="../js/midlib/jquery.knob.js"></script>
<script src="../js/midlib/jquery.autosize.js"></script>
<script src="../js/midlib/jquery.inputlimiter.1.3.1.js"></script>
<script src="../js/midlib/jquery.maskedinput.js"></script>
<script src="../js/midlib/bootstrap-tag.js"></script>
<!-- ace scripts -->
<script src="../js/midlib/ace/elements.scroller.js"></script>
<script src="../js/midlib/ace/elements.colorpicker.js"></script>
<script src="../js/midlib/ace/elements.fileinput.js"></script>
<script src="../js/midlib/ace/elements.typeahead.js"></script>
<script src="../js/midlib/ace/elements.wysiwyg.js"></script>
<script src="../js/midlib/ace/elements.spinner.js"></script>
<script src="../js/midlib/ace/elements.treeview.js"></script>
<script src="../js/midlib/ace/elements.wizard.js"></script>
<script src="../js/midlib/ace/elements.aside.js"></script>
<script src="../js/midlib/ace/ace.js"></script>
<script src="../js/midlib/ace/ace.ajax-content.js"></script>
<script src="../js/midlib/ace/ace.touch-drag.js"></script>
<script src="../js/midlib/ace/ace.sidebar.js"></script>
<script src="../js/midlib/ace/ace.sidebar-scroll-1.js"></script>
<script src="../js/midlib/ace/ace.submenu-hover.js"></script>
<script src="../js/midlib/ace/ace.widget-box.js"></script>
<script src="../js/midlib/ace/ace.settings.js"></script>
<script src="../js/midlib/ace/ace.settings-rtl.js"></script>
<script src="../js/midlib/ace/ace.settings-skin.js"></script>
<script src="../js/midlib/ace/ace.widget-on-reload.js"></script>
<script src="../js/midlib/ace/ace.searchbox-autocomplete.js"></script>    
</body>
</html>
